body{
    min-height: 100vh;
    background: url("home\ Gym\ pc2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin:0%;
}

h1{
   color: white;
   font-size: 70px;
   font-family: 'Staatliches', cursive;
   width: auto;
   padding-left: 20px;
   padding-top: 10px;
   padding-right: 20px;
   padding-bottom: 10px;
}
nav{
    color: lightgray;
    font-size: 20px;
    max-width: auto;
    height: 80px;
    padding-left: 20px;
}
.botongym{
    display: inline-block;
    padding: 25px 0px;
    background-color: lightgrey;
    text-decoration: none;
    font-size: 15px;
}
.botongym:hover{
    background-color: grey;
}

.gym1{
    max-height: 20px;
    max-width: 25%;
    padding-left: 10px;
    padding-right: 10px;
}

.gym2{
    max-height: 20px;
    max-width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

.gym3{
    max-height: 20px;
    max-width: 75%;
    padding-left: 10px;
    padding-right: 10px;
}

.gym4{
    max-height: 20px;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

article{
    color: white;
    font-size: 20px;
    width: auto;
    height: auto;
    display: flex;
    padding: 10px;
}
h2{
    margin: 20px;
}
div.izquierda{
    min-width: 25%;
    height: auto;
    float: left;
    padding: 10px;
}
div.derecha{
    max-width: 50%;
    height: auto;
    float: left;
    padding: 10px;
}
aside{
    color: white;
    font-size: 20px;
    font-family: 'Staatliches', cursive;
    object-position: center;
    margin-left: 50px;
    width: auto;
    height: auto;
}
.links{
    align-items: center;
    display: inline-table;
    padding-bottom: 10px;
    font-size: 30px;
}
ul{
    list-style-type: circle;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: lightgrey;
}
.Preguntas{
    width: 60px;
    height: 20px;
}